@{
    Layout = null;
    ViewBag.Title = "Homepage";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Andrea Repaci | @ViewBag.Title</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    <!-- Add jQuery Style direct - used for jQGrid plugin -->
    <link href="@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.min.css")" rel="stylesheet" type="text/css" />

    <!-- Primary Inspinia style -->
    @Styles.Render("~/Content/css")
    @Styles.Render("~/font-awesome/css")

</head>

<body id="page-top" class="landing-page">
    <div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Dashboard_1", "Dashboards")">Blog</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll" href="#page-top">Home</a></li>
                        <li><a class="page-scroll" href="#cv">Curriculum Vitae</a></li>
                        <li><a class="page-scroll" href="#certificazioni">Certificazioni</a></li>
                        <li><a class="page-scroll" href="#customer">Clienti</a></li>
                        <li><a class="page-scroll" href="#">Galleria Fotografica</a></li>
                        <li><a class="page-scroll" href="#contact">Contatti</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#inSlider" data-slide-to="0" class="active"></li>
            <li data-target="#inSlider" data-slide-to="1"></li>
            <li data-target="#inSlider" data-slide-to="2"></li>
            <li data-target="#inSlider" data-slide-to="3"></li>
            <li data-target="#inSlider" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner" role="listbox">

            @*Primo Item del Carosel*@
            <div class="item active">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>
                            Benvenuti<br />
                            a tutti<br />
                            Gli internauti
                        </h1>
                        <p>
                            Accomodatevi,<br />
                            centellinate una tisana<br />
                            e scoprite chi sono...
                        </p>
                    </div>
                    <div class="carousel-image wow zoomIn">
                        <img src="~/Images/landing/1.jpg" alt="me" />
                    </div>
                </div>
                <!-- Set background for slide in css -->
                <div class="header-back one"></div>
            </div>

            @*Secondo Item del Carosel*@
            <div class="item">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>
                            Cosmologo<br />
                            ed astrofilo<br />
                            per formazione
                        </h1>
                        <p>
                            Gallerie fotografiche,<br />
                            le migliori immaigni di Hubble<br />
                            e tante altre curiosità
                        </p>
                    </div>
                    <div class="carousel-image wow zoomIn">
                        <img src="~/Images/landing/Cosmosmall.jpg" alt="me" />
                    </div>
                </div>
                <!-- Set background for slide in css -->
                <div class="header-back two"></div>
            </div>

            @*Terzo Item del Carosel*@
            <div class="item">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>
                            Software engineer<br />
                            ed It Architect <br />
                            per professione
                        </h1>
                        <p>
                            Le mie esperienze professionali:<br />
                            Fortran, C++, Action Script, Php, Java, VB.NET e C#<br />
                            per giungere alla progettazione e gestione di architetture<br />
                            Cloud Azure ed On-Premises nel mondo Microsoft
                        </p>
                    </div>
                    <div class="carousel-image wow zoomIn">
                        <img src="~/Images/landing/azure-postersmall.jpg" alt="me" />
                    </div>
                </div>
                <!-- Set background for slide in css -->
                <div class="header-back two"></div>
            </div>

            @*Quarto Item del Carosel*@
            <div class="item">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>
                            Sviluppatore C#<br />
                            per professione
                        </h1>
                        <p>
                            Cesellare e sviluppare applicazioni.<br />
                            Testare nuovi framework e tecnologie<br />
                            Studiare, studiare, studiare....
                        </p>
                    </div>
                    <div class="carousel-image wow zoomIn">
                        <img src="~/Images/landing/maxresdefaultsmall.jpg" alt="me" />
                    </div>
                </div>
                <!-- Set background for slide in css -->
                <div class="header-back two"></div>
            </div>

            @*Quinto Item del Carosel*@
            <div class="item">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>
                            Fotografo<br />
                            per passione
                        </h1>
                        <p>
                            La foptografia per me consiste nell'afferrare quel<br />
                            dato momento, quella particolare impressione,<br />
                            quel moto dell'anima altrimenti inesprimibile.
                        </p>
                    </div>
                    <div class="carousel-image wow zoomIn">
                        <img src="~/Images/landing/foto.jpg" alt="me" />
                    </div>
                </div>
                <!-- Set background for slide in css -->
                <div class="header-back two"></div>
            </div>
        </div>
        <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>



    <section id="cv" class="container services">
        <div class="row">
            <div class="col-sm-3">
                <h2>Eurosort</h2>
                <p>Dal primo di Ottobre 2017 ho intrapreso la mia nuova avventura professionale in Olanda presso una delle aziende leader del mercato nel settore del sorting...</p>
                <p><a class="navy-link" href="#Eurosort" role="button">Dettagli &raquo;</a></p>
            </div>
            <div class="col-sm-3">
                <h2>Fincons SPA</h2>
                <p>Un'azienda estremamente competitva e sfidante che negli ultimi anni è cresciuta fino a raggiungere la posizione di competitor nei confronti dei più grandi gruppi IT italiani</p>
                <p><a class="navy-link" href="#Fincons" role="button">Dettagli &raquo;</a></p>
            </div>
            <div class="col-sm-3">
                <h2>Pradac</h2>
                <p>Un'azienda snella ed ambiziosa che si distingueva per la propria doppia specializzazione: consulenza IT di eevato spessore e software house.</p>
                <p><a class="navy-link" href="#Pradac" role="button">Dettagli &raquo;</a></p>
            </div>
            <div class="col-sm-3">
                <h2>Exprivia</h2>
                <p>La mia prima azienda! Exprivia costituisce una delle più importanti realtà nazionali mell'ambito dell'IT in Italia.</p>
                <p><a class="navy-link" href="#Exprivia" role="button">Dettagli &raquo;</a></p>
            </div>
            @*<div class="col-sm-3">
                    <h2>Exprivia</h2>
                    <p>La mia prima azienda! Exprivia costituisce una delle più importanti realtà nazionali mell'ambito dell'IT in Italia.</p>
                    <p><a class="navy-link" href="#" role="button">Dettagli &raquo;</a></p>
                </div>*@
        </div>
    </section>

    <section id="Eurosort" class="container features">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>EUROSORT<br /> <span class="navy">Sorter Leader in Olanda</span> </h1>
                <p>Impiegato con la qualifica di Software Engineer.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-center wow fadeInLeft">
                <div>
                    <i class="fa fa-cubes features-icon"></i>
                    <h2>Sorter-hardware</h2>
                    <p>L'azienda è leader in Olanda ed esportatrice el mondo del proprio macchinario di sorting.</p>
                </div>
                <div class="m-t-lg">
                    <i class="fa fa-microchip features-icon"></i>
                    <h2>PLC customizatiopn</h2>
                    <p>Eurosort progetta ed assembla i componenti del sorter customizzando interamente la logica PLC di interscambio delle informazioni tra i propri componenti e quelli di terze parti.</p>
                </div>
            </div>
            <div class="col-md-6 text-center  wow zoomIn">
                <a href="http://www.eurosort.com/index.html" target="_blank">
                    <img src="~/Images/landing/eusosort.png" alt="dashboard" class="img-responsive">
                </a>
            </div>
            <div class="col-md-3 text-center wow fadeInRight">
                <div>
                    <i class="fa fa-cogs features-icon"></i>
                    <h2>Desktop Managemet Software</h2>
                    <p>Ogni azione, evento e richiesta del cliente viene sviluppato e gestito tramite le varie componenti desktop che hanno il compito di automatizzare e parallelizzare la lavorazione degli ordini.</p>
                </div>
                <div class="m-t-lg">
                    <i class="fa fa-university features-icon"></i>
                    <h2>Settore Commerciale</h2>
                    <p>I nostri commerciali sono pronti ad acquisire le vostre richieste funzionare per proporre la migliore soluzione tecnologia per la vostra azienda</p>
                </div>
            </div>
        </div>

    </section>

    <section id="Fincons" class="container features">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>

                <h1>Fincons<br /> <span class="navy">Consulenza IT di alto profilo</span> </h1>

                <p>Impiegato con la qualifica di Team Leader.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-center wow fadeInLeft">
                <div>
                    <i class="fa fa-th-list features-icon"></i>
                    <h2>Soluzioni Sharepoint</h2>
                    <p>Personalizzazione e customizzazione di soluzioni SharePoint sviluppate per importanti enti istituzionali in Italia </p>
                </div>
                <div class="m-t-lg">
                    <i class="fa fa-cloud features-icon"></i>
                    <h2>Cloud Azure</h2>
                    <p>Fincons, come prima azienda in Italia, ha curato la prima Azure Farm per Poste Italiane nonchè la prima Azure Cloud application basata su metodologia Actor Model su Service Fabric</p>
                </div>
            </div>
            <div class="col-md-6 text-center  wow zoomIn">
                <a href="http://www.finconsgroup.com/" target="_blank">
                    <img src="~/Images/landing/fincons.png" alt="dashboard" class="img-responsive">
                </a>
            </div>
            <div class="col-md-3 text-center wow fadeInRight">
                <div>
                    <i class="fa fa-spinner features-icon"></i>
                    <h2>SAP</h2>
                    <p>Gestione e sviluppo di soluzioni SAP dedicate alla gestione aziendale per importanti aziende italiane.</p>
                </div>
                <div class="m-t-lg">
                    <i class="fa fa-gears features-icon"></i>
                    <h2>Java</h2>
                    <p>Sviluppo e progettazione di architetture java di complessità enterprise.</p>
                </div>
            </div>
        </div>

    </section>

    <section id="Pradac" class="container features">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Pradac<br /> <span class="navy">Servizi IT e Software House</span> </h1>
                <p>Impiegato con la qualifica di Software Architect. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-center wow fadeInLeft">
                <div>
                    <i class="fa fa-database features-icon"></i>
                    <h2>Data Management</h2>
                    <p>Gestione ed ottimizzzione di basi dati di elevata complessità su piattaforme Oracle, Sql Server e MySQL</p>
                </div>
                <div class="m-t-lg">
                    <i class="fa fa-code features-icon"></i>
                    <h2>Sviluppo Soluzioni Innovative</h2>
                    <p>Consulenza di elevata seniority per soluzioni informatiche Enterprise di architettura Monolitica e Cloud</p>
                </div>
            </div>
            <div class="col-md-6 text-center  wow zoomIn">
                <img src="~/Images/landing/pradac.it.png" alt="dashboard" class="img-responsive">
            </div>
            <div class="col-md-3 text-center wow fadeInRight">
                <div>
                    <i class="fa fa-dashboard features-icon"></i>
                    <h2>Sistemi di monitoraggio</h2>
                    <p>Gestione dei servizi di HelpDesk con produzione di sistemi di monitoraggio e performance tuning.</p>
                </div>
                <div class="m-t-lg">
                    <i class="fa fa-desktop features-icon"></i>
                    <h2>Fully</h2>
                    <p>Sviluppo dì un prodotto on premises di Desktop Simulation per la gestione ordinaria delle pratiche amministrative aziendali.</p>
                </div>
            </div>
        </div>

    </section>

    <section id="Exprivia" class="container features">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Exprivia<br /> <span class="navy">Azienda di servizi IT di alto profilo tecnologico</span> </h1>
                <p>Impiegato conla qualifica di Sviluppatore .NET. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-center wow fadeInLeft">
                <div>
                    <i class="fa fa-bar-chart-o features-icon"></i>
                    <h2>Soluzioni Big Data</h2>
                    <p>Sviluppo e gestione di architetture orientate alla distribuzione e gestione di portali basati su DB NoSql</p>
                </div>
                <div class="m-t-lg">
                    <i class="fa fa-cloud features-icon"></i>
                    <h2>Cloud</h2>
                    <p>Progettazione e gestione di architetture Cloud Based su tenoclogie Microsoft ed Amazon.</p>
                </div>
            </div>
            <div class="col-md-6 text-center  wow zoomIn">
                <a href="http://www.exprivia.it/it/" target="_blank">
                    <img src="~/Images/landing/exprivia.png" alt="dashboard" class="img-responsive">
                </a>
            </div>
            <div class="col-md-3 text-center wow fadeInRight">
                <div>
                    <i class="fa fa-warning features-icon"></i>
                    <h2>IT Security</h2>
                    <p>Exprivia offre soluzioni che coniugano le tecnologie innovative ad una profonda conoscenza dei processi di sicurezza e dei requisiti d'impresa.</p>
                </div>
                <div class="m-t-lg">
                    <i class="fa fa-spinner features-icon"></i>
                    <h2>SAP</h2>
                    <p>400 professionisti specializzati nelle soluzioni ERP ed Extended ERP, di cui oltre 300 risorse certificate, distribuite nel territorio nazionale e all'estero (Europa, America e Asia).</p>
                </div>
            </div>
        </div>

    </section>


    <section id="customer" class="container services">


        <div class="row">
            <div class="col-sm-3">
                <a href="http://www.eurosort.com/index.html" target="_blank">  <img src="~/Images/landing/logo_eurosort.png" /> </a>
            </div>
            <div class="col-sm-3">
                <a href="https://www.poste.it/" target="_blank"> <img src="~/Images/landing/PosteItaliane.png" /> </a>
            </div>
            <div class="col-sm-3">
                <a href="http://www.trenitalia.com/" target="_blank"> <img src="~/Images/landing/Trenitalia_small.png" /> </a>
            </div>
            <div class="col-sm-3">
                <a href="http://www.terna.it/" target="_blank">  <img src="~/Images/landing/terna_small.png" /> </a>
            </div>
            @*<div class="col-sm-3">
                    <h2>Exprivia</h2>
                    <p>La mia prima azienda! Exprivia costituisce una delle più importanti realtà nazionali mell'ambito dell'IT in Italia.</p>
                    <p><a class="navy-link" href="#" role="button">Dettagli &raquo;</a></p>
                </div>*@
        </div>
    </section>

    <section id="customer2" class="container services">

        <div class="row">
            <div class="col-sm-3">
                <a href="#"> <img src="~/Images/landing/tfs.png" /> </a>
            </div>
            <div class="col-sm-3">
                <a href="http://www.avalon-instruments.com/" target="_blank"> <img src="~/Images/landing/logo-avalon_ok-2.png" /> </a>
            </div>
            <div class="col-sm-3">
                <a href="http://www.almaviva.it/IT/Pagine/default.aspx" target="_blank"> <img src="~/Images/landing/Untitled-1.png" /> </a>
            </div>
            <div class="col-sm-3">
                <a href="https://www.tim.it/" target="_blank"> <img src="~/Images/landing/Telecom-italia-small.png" /> </a>
            </div>
            @*<div class="col-sm-3">
                    <h2>Exprivia</h2>
                    <p>La mia prima azienda! Exprivia costituisce una delle più importanti realtà nazionali mell'ambito dell'IT in Italia.</p>
                    <p><a class="navy-link" href="#" role="button">Dettagli &raquo;</a></p>
                </div>*@
        </div>
    </section>

    <section id="certificazioni" class="container features">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Certificazioni<br /> <span class="navy">Microsoft ed ISQ</span>  </h1>
                <p><br /></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <img src="~/Images/landing/MTA_Database_Blk.png" />
            </div>
            <div class="col-sm-2">
                <img src="~/Images/landing/MCPS.png" /> </a>
            </div>
            <div class="col-sm-2">
                <img src="~/Images/landing/MCSD_ALM_Blk.png" />
            </div>
            <div class="col-sm-2">
                <img src="~/Images/landing/Advanced Level Test Analyst.png" />
            </div>
            <div class="col-sm-2">
                <img src="~/Images/landing/Tester Foundation Level.png" />
            </div>
            @*<div class="col-sm-3">
                    <h2>Exprivia</h2>
                    <p>La mia prima azienda! Exprivia costituisce una delle più importanti realtà nazionali mell'ambito dell'IT in Italia.</p>
                    <p><a class="navy-link" href="#" role="button">Dettagli &raquo;</a></p>
                </div>*@
        </div>

    </section>


    <section class="timeline gray-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>TimeLine</h1>
                    <p>Le mie esperienze Lavorative</p>
                </div>
            </div>
            <div class="row features-block">

                <div class="col-lg-12">
                    <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-cogs"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <h2>Eurosort</h2>
                                <p>
                                    PostNord Nassjo
                                </p>
                                <a href="#EurosortCV" class="btn btn-xs btn-primary"> Dettagli</a>
                                <span class="vertical-date"> Oggi <br /> <small>Ottobre 2017</small> </span>
                            </div>
                        </div>

                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-cogs"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <h2>Fincons SPA</h2>
                                <p>NSIN</p>
                                <p>VSIN</p>
                                <p>SIGIT</p>
                                <p>SIREP</p>
                                <a href="#FinconsCV" class="btn btn-xs btn-primary">Dettagli</a>
                                <span class="vertical-date"><br /> <small>Febbraio 2014 - Settembre 2017</small> </span>
                            </div>
                        </div>

                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-cogs"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <h2>Pradac SRL e Freelance</h2>
                                <p>GAA2</p>
                                <p>Gaudì</p>
                                <p>Gaudì2</p>
                                <p>RepERP</p>
                                <p>Uscire</p>
                                <p>AITN</p>
                                <p>Avalon Instruments</p>
                                <a href="#PradacCV" class="btn btn-xs btn-primary">Dettagli</a>
                                <span class="vertical-date"> Monday <br /> <small>Jan 02</small> </span>
                            </div>
                        </div>

                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-cogs"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <h2>Exprivia SPA</h2>
                                <p>NSIN</p>
                                <p>Business Object</p>
                                <p>SAS</p>
                                <p>Ticketless</p>
                                <p>Software di gestione Interna</p>
                                <a href="#ExpriviaCV" class="btn btn-xs btn-primary">Dettagli</a>
                                <span class="vertical-date"> Monday <br /> <small>Jan 02</small> </span>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </section>


    <section class="features" id="EurosortCV">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Esperienza in Eurosort</h1>
                    <p>Attualmente in Eurosort dal primo di Ottobre 2017.</p>
                </div>
                <div class="col-lg-12 text-left">
                    <p>
                        Con l'approdo in Eurosort è iniziata la mia ultima avventura prosessionale. Sono stato contattato tramite LinkedIn e, a seguito di una lunga serie di colloqui,
                        pensamenti e ripensamenti, dopo riflettuto attentamente alle possiblità che questa mia nuova avventura postesse darmi ho deciso di accettare.
                        <strong>Eurosort</strong> mi ha procurato buone sensazioni fin dal primo colloquio. Iniziamo dal principio: la Eurosort produce macchinari industriali
                        di smistamento, dalla costruzione dei singoli componenti, all'assemblaggio alla gestione completa di tutta la catena.
                    </p>
                    <p>L'azienda è composta di tre settori principali : Assemblaggio, PLC ed IT e commerciale.</p>
                    <p>Ogni singolo cliente può decidere di acquistare il semplice sorter o il pacchetto completo: il sorter più i software di controllo.</p>
                    <p>
                        L'azienda è in fortissima crescita ed il numero dei clienti sta crescendo in modo esponenziele confermando contratti in tutto il mondo ed in settori tra i più disparati:
                        <strong>ECommerce</strong>, <strong>Moda</strong> e <strong>Sport </strong> <strong>Servizi Postali</strong>, <strong>Editoria</strong>, <strong>Preziosi</strong>,
                        <strong>Farmaceutica</strong> e <strong>Gestione Logistiche</strong>
                    </p>
                    <p>
                        Recentemente il settore maggiormente in espansione è quello dei Servizi Postali con clienti del calibro di <strong>PostNL</strong> in Olanda, <strong>KazPost</strong>
                        in Kazakistan , <strong>USPost</strong> negli Stati Uniti e <strong>PostNord</strong> in Svezia.
                    </p>

                </div>
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 features-text">
                        <small>Svezia</small>
                        <h2>PostNord Nassjo </h2>
                        <i class="fa fa-envelope big-icon pull-right"></i>
                        <p>Architettura</p>
                    </div>
                </div>
            </div>

    </section>

    <section class="features" id="FinconsCV">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Esperienza in Fincons</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 features-text">
                    <small>INSPINIA</small>
                    <h2>Perfectly designed </h2>
                    <i class="fa fa-bar-chart big-icon pull-right"></i>
                    <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
                </div>
                <div class="col-lg-5 features-text">
                    <small>INSPINIA</small>
                    <h2>Perfectly designed </h2>
                    <i class="fa fa-bolt big-icon pull-right"></i>
                    <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 features-text">
                    <small>INSPINIA</small>
                    <h2>Perfectly designed </h2>
                    <i class="fa fa-clock-o big-icon pull-right"></i>
                    <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
                </div>
                <div class="col-lg-5 features-text">
                    <small>INSPINIA</small>
                    <h2>Perfectly designed </h2>
                    <i class="fa fa-users big-icon pull-right"></i>
                    <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
                </div>
            </div>
        </div>

    </section>

    <section class="features" id="PradacCV">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Esperienza in Pradac</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 features-text">
                    <small>INSPINIA</small>
                    <h2>Perfectly designed </h2>
                    <i class="fa fa-bar-chart big-icon pull-right"></i>
                    <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
                </div>
                <div class="col-lg-5 features-text">
                    <small>INSPINIA</small>
                    <h2>Perfectly designed </h2>
                    <i class="fa fa-bolt big-icon pull-right"></i>
                    <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 features-text">
                    <small>INSPINIA</small>
                    <h2>Perfectly designed </h2>
                    <i class="fa fa-clock-o big-icon pull-right"></i>
                    <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
                </div>
                <div class="col-lg-5 features-text">
                    <small>INSPINIA</small>
                    <h2>Perfectly designed </h2>
                    <i class="fa fa-users big-icon pull-right"></i>
                    <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
                </div>
            </div>
        </div>

    </section>

    <section class="features" id="ExpriviaCV">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Esperienza in Exprivia</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 features-text">
                    <small>INSPINIA</small>
                    <h2>Perfectly designed </h2>
                    <i class="fa fa-bar-chart big-icon pull-right"></i>
                    <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
                </div>
                <div class="col-lg-5 features-text">
                    <small>INSPINIA</small>
                    <h2>Perfectly designed </h2>
                    <i class="fa fa-bolt big-icon pull-right"></i>
                    <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 features-text">
                    <small>INSPINIA</small>
                    <h2>Perfectly designed </h2>
                    <i class="fa fa-clock-o big-icon pull-right"></i>
                    <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
                </div>
                <div class="col-lg-5 features-text">
                    <small>INSPINIA</small>
                    <h2>Perfectly designed </h2>
                    <i class="fa fa-users big-icon pull-right"></i>
                    <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
                </div>
            </div>
        </div>

    </section>

    <section id="contact" class="gray-section contact">
        <div class="container">
            <div class="row m-b-lg">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Contattami</h1>
                    <p>Se sei interssato alle mie skills e vuoi avere informazioni o consulenze.... sentiti libero di contattarmi</p>
                </div>
            </div>
            <div class="row m-b-lg">
                <div class="col-lg-3 col-lg-offset-3">
                    <address>
                        <strong><span class="navy">Andrea Repaci IT</span></strong><br />
                        Via don Pirro Scavizzi 12<br />
                        Roma, RM 00132<br />
                        <abbr title="Phone">P:</abbr> (+39) 3911092778
                    </address>
                </div>
                <div class="col-lg-4">
                    <address>
                        <strong><span class="navy">Andrea Repaci NL</span></strong><br />
                        Ondiep-Zuidzijde 39<br />
                        Utrecht, 3551 BX<br />
                        <abbr title="Phone">P:</abbr> (+31) 615186764
                    </address>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="mailto:arepaci@gmail.com" class="btn btn-primary">Mandami un'email</a>
                    <p class="m-t-sm">
                        Seguimi sui miei social
                    </p>
                    <ul class="list-inline social-icon">
                        <li>
                            <a href="https://www.flickr.com/photos/65987434@N00/" target="_blank"><i class="fa fa-flickr"></i></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/arepaci" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/andrearepaci/" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/107476893147337080091?hl=it" target="_blank"><i class="fa fa-google-plus"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                    <p><strong>&copy; 2015 Company Name</strong><br /> consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Section for main scripts render -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/plugins/slimScroll")
    @Scripts.Render("~/plugins/wow")
    @Scripts.Render("~/bundles/inspinia")



    <script>

        $(document).ready(function () {

            $('body').scrollspy({
                target: '.navbar-fixed-top',
                offset: 80
            });

            // Page scrolling feature
            $('a.page-scroll').bind('click', function (event) {
                var link = $(this);
                $('html, body').stop().animate({
                    scrollTop: $(link.attr('href')).offset().top - 50
                }, 500);
                event.preventDefault();
                $('#navbar').collapse('hide');
            });
        });

        var cbpAnimatedHeader = (function () {
            var docElem = document.documentElement,
                header = document.querySelector('.navbar-default'),
                didScroll = false,
                changeHeaderOn = 200;
            function init() {
                window.addEventListener('scroll', function (event) {
                    if (!didScroll) {
                        didScroll = true;
                        setTimeout(scrollPage, 250);
                    }
                }, false);
            }
            function scrollPage() {
                var sy = scrollY();
                if (sy >= changeHeaderOn) {
                    $(header).addClass('navbar-scroll')
                }
                else {
                    $(header).removeClass('navbar-scroll')
                }
                didScroll = false;
            }
            function scrollY() {
                return window.pageYOffset || docElem.scrollTop;
            }
            init();

        })();

    </script>

</body>
</html>